<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="closeModal()" >
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title color="primary" class="ion-text-center">Kategorien</ion-title> 
      <ion-button (click)="newCategory()" slot="end" style="margin-right: 10px" fill="">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngFor="let category of categories">
      <ion-label>{{category.name}}</ion-label>
      <ion-button (click)="editCategory(category.id)" fill="">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteCategory(category.id, category.name)" fill="">
        <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
