<ion-header class="ion-no-border">
  <ion-img src="../../assets/img/htl_logo.svg"></ion-img>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Passwort Zurücksetzen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="floating">E-Mail </ion-label>
        <ion-input [(ngModel)]="email" type="email" inputmode="email" pattern="email" size="email"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="authService.resetPW(email)">
        Zurücksetzen
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-text class="ion-text-center" id="ionRegisterText">
    <p id="registerText">Du erinnerst dich wieder?</p>
  </ion-text>
  <ion-button (click)="navTo.navTo('login')" expand="block" fill="outline" id="registerBtn">
    Anmelden
  </ion-button>
</ion-content>