/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    font-family: 'Noto Sans';
  }

.monthview-container {
    background-color: transparent;
}

.monthview-current{
    background-color: transparent !important;
    border: var(--ion-color-primary) 3px solid !important;
    z-index: 9;
    color: white !important;
}

.monthview-selected{
    background-color: var(--ion-color-primary) !important;
}

.monthview-primary-with-event{
    background-color: var(--ion-color-secondary) !important;
}

.monthview-selected.monthview-primary-with-event{
    border: white 3px solid !important;
    z-index: 9;
}

.monthview-eventdetail-timecolumn{
    display: none;
}

.event-detail{
    text-indent: -10px;
}

.my-custom-interface .select-interface-option.standard-success{
    --color: var(--ion-color-success) !important;
}

.my-custom-interface .select-interface-option.standard-repair{
    --color: var(--ion-color-danger) !important;
}

.my-custom-interface .select-interface-option.standard-other{
    --color: var(--ion-color-secondary) !important;
}

div.box input{
    background: white !important;
}

div.color-picker.open{
    background: transparent;
    border: none;
}

div.cursor{
    border: #ffff solid 2px !important;
}

div.type-policy{
    display: none;
}

div.box>div{
    color: white !important;
}