<ion-header [translucent]="true">
  <ion-segment (ionChange)="segmentChanged($event)" value="All">
    <ion-segment-button value="All">
      <ion-label>Alle</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Ready">
      <ion-label>Bereit</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Mine">
      <ion-label>Verliehen</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="all == 'All'">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let category of categories">
    <ion-item>
      <ion-card-title color="primary">{{category.name}}</ion-card-title>
      <ion-buttons slot="end" *ngIf="role == 'teacher'">
        <ion-button (click)="addObject(category.cid)"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
    <ion-list class="subList">
      <div *ngFor="let object of category.objects" (click)="openObjectInfo(object.id, category.cid)">
        <ion-item *ngIf="!object.deactivated">
          <ion-text>{{object.name}}</ion-text>
          <ion-chip slot="end">
            <ion-label [ngStyle]="{color: object.color}">{{object.status}}</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item *ngIf="object.deactivated && role == 'teacher'">
          <ion-text style="color: grey;">{{object.name}} (Deaktiviert)</ion-text>
          <ion-chip slot="end">
            <ion-label [ngStyle]="{color: object.color}">{{object.status}}</ion-label>
          </ion-chip>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="authService.signOut()"><ion-icon name="exit"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openQRCode()"><ion-icon name="qr-code"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openCategories()" *ngIf="role == 'teacher'"><ion-icon name="apps"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openTeachers()" *ngIf="role == 'teacher'"><ion-icon name="people"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openProfile()"><ion-icon name="person"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-content [fullscreen]="true" *ngIf="all == 'Mine'">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let category of myCategories">
    <ion-item>
      <ion-card-title color="primary">{{category.name}}</ion-card-title>
      <ion-buttons slot="end" *ngIf="role == 'teacher'">
        <ion-button (click)="addObject(category.cid)"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
    <ion-list class="subList">
      <div *ngFor="let object of category.objects" (click)="openObjectInfo(object.id, category.cid)">
        <ion-item *ngIf="!object.deactivated">
          <ion-text>{{object.name}}</ion-text>
          <ion-chip slot="end">
            <ion-label [ngStyle]="{color: object.color}">{{object.status}}</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item *ngIf="object.deactivated && role == 'teacher'">
          <ion-text style="color: grey;">{{object.name}} (Deaktiviert)</ion-text>
          <ion-chip slot="end">
            <ion-label [ngStyle]="{color: object.color}">{{object.status}}</ion-label>
          </ion-chip>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="authService.signOut()"><ion-icon name="exit"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openQRCode()"><ion-icon name="qr-code"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openCategories()" *ngIf="role == 'teacher'"><ion-icon name="apps"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openTeachers()" *ngIf="role == 'teacher'"><ion-icon name="people"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openProfile()"><ion-icon name="person"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>